{%- from "tag/macro.njk" import govukTag -%}


{% macro summaryDetail(data) %}
  <h2 class="govuk-heading-m">{{data.index}}. {{data.title}}</h2>
  <table class="govuk-table check-your-answers">
    <caption class="govuk-table__caption"></caption>
    <tbody class="govuk-table__body">
      {% for item in data.items %}
        {% if not hide %}
          <tr class="govuk-table__row">
                      <td class="govuk-table__cell xchange-answer">
              <a href="{{item.url}}">{{item.label}}</a>
            </td>
            {# <th class="govuk-table__header" style="width:30%;">{{item.label}}</th> #}
            <td class={% if item.inError %}"govuk-table__cell required"{% else %}"govuk-table__cell"{% endif %}>{% if item.value %}{{item.value}}{% else %}Not supplied{% endif %}</td>
            <td class="govuk-table__cell change-answer">
            {% if item.value %}
            {{ govukTag({
  text: "COMPLETED"
}) }}
{% endif %}
</td>
            {# <td class="govuk-table__cell change-answer">
              <a href="{{item.url}}">Change</a>
            </td> #}
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endmacro %}
