{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "details/macro.njk" import govukDetails %}
{% from "partials/components.html" import componentList %}

{% extends 'layout.html' %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errors %}
        {{ govukErrorSummary(errors) }}
      {% endif %}

      {% include "partials/heading.html" %}

      {% if page.hasFormComponents or page.hasNext %}
        {% include "partials/form.html" %}
      {% else %}
        {{ componentList(components) }}
      {% endif %}

      {% set debug %}
        <pre>{{ __state | dump(2) | safe }}</pre>
        <pre>{{ __formData | dump(2) | safe }}</pre>
      {% endset %}

      {{ govukDetails({
        summaryText: "Debug",
        html: debug
      }) }}
    </div>
  </div>
{% endblock %}
