{% from "back-link/macro.njk" import govukBackLink %}
{% from "button/macro.njk" import govukButton %}
{% from "error-summary/macro.njk" import govukErrorSummary %}
{% from "partials/summary-detail.njk" import summaryDetail %}

{% extends 'layout.njk' %}

{% block content %}
  <div class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {# {% if errors %}
          {{ govukErrorSummary(errors) }}
        {% endif %} #}

        <h1 class="govuk-heading-l">{{serviceName}}</h1>

        {% for detail in details %}
          {{ summaryDetail(detail) }}
        {% endfor %}

        {# {% if showPDF %}
          <br>
          <a class="button" href="/pdf" target="_blank">View PDF</a>
        {% endif %} #}

        {# {{ govukButton({
          text: "Continue"
        }) }} #}

        <pre>{{ value | dump(2) | safe }}</pre>
        
      </div>
    </div>
  </div>
{% endblock %}
